
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Cheap International Calls from Mobile App and Website | TringMe</title>
    <meta name="keywords" content="cheap international calls, cheap international call, call abroad, low cost international calls, international calls, international phone calls, cheap international calls from mobile, cheap intenational calling, low cost phone calls, cheap international voip calls, cheap voip calls, international calling, cheapest international calls, cheap international calls from web, low coast international phone calls, low cost calls to abroad,  international calls from mobile, international calls from web" />
    <meta name="description" content="Make cheap international calls to mobiles and landlines from web or app with TringMe. Lowest calling rate - HD voice quality - Unblockable. First call is Free!" />
	<meta name="robots" content="index, follow"/>

	<!-- Twitter Card data -->
	<meta name="twitter:creator" content="@tringme">
	<meta name="twitter:site" content="@tringme"/>
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="Cheap International Calls from Mobile App and Website | TringMe"/>
	<meta name="twitter:url" content="https://tringme.com"/>
	<meta name="twitter:description" content="Make cheap international calls to mobiles and landlines from web or app with TringMe. Lowest calling rate - HD voice quality - Unblockable. First call is on us!"/>
	<meta name="twitter:image" content="https://tringme.com/favicon-196x196.png"/>
	<meta name="twitter:image:alt" content="TringMe Twitter Logo"/>

	<!-- Open Graph data -->
	<meta property="og:title" content="Cheap International Calls from Mobile App and Website | TringMe"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://tringme.com"/>
	<meta property="og:image" content="https://tringme.com/favicon-196x196.png" />
	<meta property="og:description" content="Make cheap international calls to mobiles and landlines from web or app with TringMe. Lowest calling rate - HD voice quality - Unblockable. First call is on us!"/>
	<meta property="og:site_name" content="TringMe"/>
	<meta property="fb:admins" content="5970883929" />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Cheap International Calls from Mobile App and Website | TringMe"/>
	<meta itemprop="description" content="Make cheap international calls to mobiles and landlines from web or app with TringMe. Lowest calling rate - HD voice quality - Unblockable. First call is on us!"/>
	<meta itemprop="image" content="https://tringme.com/favicon-196x196.png">
	
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- SWIPER SLIDER -->
    <link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="icon" href="assets/images/fav-icon.ico"  sizes="16x16"> -->

    <!-- custom css -->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />

    <!-- FEVICON -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="TringMe" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://api.tringme.com/webapi.js"></script>
    <link href="assets/css/angucomplete-alt.css" rel="stylesheet">

    <!-- Google Tag Manager -->

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLGL5RP');</script>

<!-- End Google Tag Manager -->

</head>
<body ng-app="app" class="smoothscroll enable-animation">
<!-- Google Tag Manager (noscript) -->

<noscript><iframe 
src="https://www.googletagmanager.com/ns.html?id=GTM-NLGL5RP"
height="0" width="0" 
style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
    <!-- wrapper -->
    <div id="wrapper" ng-controller="MainController">

        <div id="header" class="sticky transparent clearfix">

            <!-- TOP NAV -->
            <tringmesection cref="header.html">
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                        <!-- Logo -->
                        <a class="logo pull-left" href="index.html">
                            <img src="assets/images/tringme-logo-white.png" alt="TringMe logo" />
                            <!-- light logo -->
                            <img src="assets/images/tringme-logo.png" alt="TringMe logo" />
                            <!-- dark logo -->
                        </a>

                        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                            <nav class="nav-main">
                                <ul id="topMain" class="nav nav-pills nav-main">
                                    <li class="dropdown">
                                        <a href="index.html">
                                        Home
                                    </a>

                                    </li>

                                    <li class="dropdown">
                                        <a href="international-call-rates.html">
                                        Rates
                                    </a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="developer/overview.html">
                                        Developer
                                    </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="help.html">
                                       
                                        Help
                                    </a>
                                    </li>

                                    <li class="dropdown ">
                                        <a href="/login" class="hidden-lg hidden-md">
                                        {{logintext}}
                                    </a>
                                        <a href="/login" class="hidden-xs hidden-sm">
                                            <span class='btn login'>
                                            {{logintext}}
                                        </span>
                                        </a>
                                    </li>


                                </ul>

                            </nav>
                        </div>


                    </div>
                </header>
            </tringmesection>
            <!-- /Top Nav -->


        </div>

        <section id="slider" class="fullheight">

            <!--
                SWIPPER SLIDER PARAMS

                data-effect="slide|fade|coverflow"
                data-autoplay="2500|false"
            -->



            <div id="slider-inner-div" class="swiper-slide">
                <div class="overlay dark-6"></div>

                <div class="display-table">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="container margin-top-80">
                            <div class="row">

                                <div class='text-center col-md-8 col-xs-12 col-md-offset-0'>
                                    <p class="lead wow fadeInUp size-22 " data-wow-delay="0.4s">Call any mobile and landline worldwide</p>
                                    <h1 class="wow fadeInUp size-21" data-wow-delay="0.4s">Cheap International Calls</h1>
                                    <p class="lead weight-300 wow fadeInUp" data-wow-delay="0.8s">Your first call is on us!</p>

                                    <a class="btn btn-success btn-xlg size-20 browser wow fadeIn visible-lg-inline-block visible-md-inline-block" data-wow-delay="1.2s" href="/login"><i class='fa fa-desktop margin-right-10'></i>Call from Browser</a>
                                    <a target='_blank' class="btn btn-default btn-lg size-20 wow fadeIn apple visible-xs visible-sm " data-wow-delay="1.8s" href="https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&ct=tringmeweb&mt=8" ng-show="visibleOnIOS();" onclick="analytics('send', 'event', 'ios', 'click', 'banner');"><i class='fa fa-apple margin-right-10'></i>Get the App</a>
                                    <a target='_blank' class="btn btn-default btn-lg size-20 wow fadeIn android visible-xs visible-sm" data-wow-delay="1.8s" href="https://play.google.com/store/apps/details?id=com.tringme.android&referrer=utm_source%3Dtringmeweb" ng-show="visibleOnAndroid();" onclick="analytics('send', 'event', 'android', 'click', 'banner');"><i class='fa fa-android margin-right-10'></i>Get the App</a>

                                    <div class='text-center col-md-8 col-xs-12 col-md-offset-2'>
                                        <a target='_blank' class="margin-top-40 wow fadeIn visible-lg-inline-block visible-md-inline-block padding-0" data-wow-delay="1.4s" href="https://play.google.com/store/apps/details?id=com.tringme.android&referrer=utm_source%3Dtringmeweb" ng-show="visibleOnAndroid();"><img class="border-radius-6" src='assets/images/google-play-store.png' alt="TringMe calling app for android"></a>
                                        <a target='_blank' class="margin-top-40 wow fadeIn visible-lg-inline-block visible-md-inline-block padding-0" data-wow-delay="1.4s" href="https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&ct=tringmeweb&mt=8" ng-show="visibleOnIOS();"><img class="border-radius-6" src='assets/images/apple-store.png' alt="TringMe calling app for iphone"></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!-- /SLIDER -->
        <!-- Check Rates -->
        <section class='padding-top-80'>
            <div class="container">

                <div class="row">
                    <div class='col-sm-12 searchBar padding-right-10 padding-left-10'>
                        <div class="input-group">
                            <div angucomplete-alt id="ex1" placeholder="Which country or number would you like to call?" maxlength="50" pause="100" selected-object="selectedCountry" local-data="countries" text-no-results=false search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small small-input" match-class="highlight" input-changed="findrate();">

                            </div>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default input-lg margin-left-10 weight-700" ng-click="findphonerate()">
                                    <span class="visible-lg visible-md">SEARCH</span><i class="visible-xs visible-sm fa fa-search size-30"></i>
                                </button>


                            </div>

                        </div>

                        <!-- <!-- Rates Data Will Load Here-->
                        <ul class="col-sm-12 countryRates" id="ratesList">
                            <li ng-repeat="rate in rates track by $index">{{rate.destination}} (+{{rate.phone}}) - {{rate.rate}} cents/min</li>
                        </ul>

                    </div>
                    <div class="col-md-12 col-sm-12 text-center padding-top-90">
                        <header class="margin-bottom-20 ">
                            <h2 class="weight-400 size-40">Pay Less, Talk more...</h2>

                        </header>
                        <div class='col-sm-12'>
                            <div class='col-sm-4'>&nbsp;
                            </div>
                            <div class='col-sm-4'>
                                <ul class="list-unstyled text-left">
                                    <li class="margin-bottom-10 size-18 "><i class="fa fa-check"></i>Low-cost International Calls</li>
                                    <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>No Hidden Cost, No Connection Fees</li>
                                    <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>What you See is What you Pay</li>
                                    <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>Your First call is on us</li>
                                </ul>
                            </div>
                            <div class='col-sm-4'>
                                &nbsp;
                            </div>
                        </div>

                        <div class='col-sm-12'>
                            <a class="btn btn-default btn-lg margin-top-30 " href="international-call-rates.html">Learn more</a>
                        </div>
                    </div>
                </div>


            </div>


        </section>
        <!-- /Info -->
        <!-- PARALLAX -->
        <section id="no-matter-section" class="parallax parallax-2">


            <div class="container">
                <div class="col-md-5 col-sm-5">
                    <header class="margin-bottom-20">
                        <h2 class="weight-400 size-40">No Matter<br /> What Device You use</h2>
                    </header>

                    <ul class="list-unstyled">
                        <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>Call from Mobile App and Website</li>
                        <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>Single Account</li>
                        <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>Call any mobiles and landlines</li>
                        <li class="margin-bottom-10 size-18"><i class="fa fa-check"></i>Get Crystal Clear Voice Quality</li>
                    </ul>


                    <a class="btn btn-default btn-lg margin-top-30 visible-lg-inline-block visible-md-inline-block call-browser-android-iphone" href="/login"><i class='fa fa-desktop margin-right-10'></i>Call from Browser</a>
                    <a target='_blank' class="btn btn-default btn-lg margin-top-30 visible-xs visible-sm call-browser-android-iphone" href="https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&ct=tringmeweb&mt=8" ng-show="visibleOnIOS();" onclick="analytics('send', 'event', 'ios', 'click', 'redbelt');"><i class='fa fa-apple margin-right-10'></i>Call from iPhone App</a>
                    <a target='_blank' class="btn btn-default btn-lg margin-top-30 visible-xs visible-sm call-browser-android-iphone" href="https://play.google.com/store/apps/details?id=com.tringme.android&referrer=utm_source%3Dtringmeweb" ng-show="visibleOnAndroid();" onclick="analytics('send', 'event', 'android', 'click', 'redbelt');"><i class='fa fa-android margin-right-10'></i>Call from Android App</a>
                </div>
                <div class="col-md-7 col-sm-7">

                    <img class="img-responsive wow fadeInRight margin-top-30" data-wow-delay="0.4s" src="assets/images/devise.png" alt="cheap international calls from mobile, desktop, tablet" />

                </div>
            </div>

        </section>
        <!-- /PARALLAX -->
        <!-- Goodies -->
        <section>
            <div class="container">

                <div class="row">
                    <h2 class='col-sm-12 text-center weight-400 size-40'>
                        Why Millions of people use TringMe?
                    </h2>
                    <div class="col-md-4">

                        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                            <a class="box-icon-title margin-bottom-20" href="#">
                                <i class="fa fa-dollar"></i>
                                <h3>Very Economical</h3>
                            </a>
                            <p>We offer very affordable international calls in the industry. Go ahead, compare us with other leading players or calling app in the market and even your cellular provider. No gray routes and no headaches--just reasonable pricing!</p>
                            <!--
                            <ul class="list-unstyled col-sm-12">
                                <li class="no-margin margin-bottom-5 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>No Hidden or Connection Cost</li>
                                <li class="no-margin margin-bottom-5 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>What you see is What you pay</li>
                            </ul>
                -->
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                            <a class="box-icon-title margin-bottom-20" href="#">
                                <i class="glyphicon glyphicon-headphones"></i>
                                <h3>HD Call Quality</h3>
                            </a>
                            <p>We use state-of-the-art technology to get HD call quality on all your international calls from website or app, even on a slow connection like Mobile data. If data connection is bad, use our callback facility. In either case, you get to call your friends and family.</p>
                            <!--
                            <ul class="list-unstyled col-sm-12 ">
                                <li class="margin-bottom-7 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>Crystal Clear Voice Quality</li>
                                <li class="margin-bottom-7 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>No dropped Calls</li>
                            </ul>
                -->
                        </div>

                    </div>



                    <div class="col-md-4">

                        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
                            <a class="box-icon-title margin-bottom-20" href="#">
                                <i class="fa fa-ban"></i>
                                <h3>Unblockable</h3>
                            </a>
                            <p>We believe in open communication and tirelessly work to ensure that our customers can make international calls even when VoIP website or mobile app is banned by a country or an ISP. TringMe just works to make cheap international calls worldwide!</p>
                            <!--
                            <ul class="list-unstyled col-sm-12 ">
                                <li class="margin-bottom-5 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>Call even VoIP is banned by ISP</li>
                                <li class="margin-bottom-5 col-sm-12 size-18 text-center"><i class="fa fa-check"></i>TringMe works in all countries</li>
                            </ul>
                -->
                        </div>

                    </div>


                </div>

            </div>
        </section>


        <div class="callout alert alert-transparent noborder noradius nomargin bg-f9fafc">

            <div class="text-center">

                <h3>Sign Up Now and<span><strong> Get Your First FREE Call</strong></span> up to 2 Minutes</h3>


                <a class="btn btn-success btn-xlg  margin-top-30 size-20 browser wow fadeIn visible-lg-inline-block visible-md-inline-block" href="/login"><i class='fa fa-desktop margin-right-10'></i>Get it on Browser</a>
                <a target='_blank' class="btn btn-success btn-xlg  margin-top-30 size-20 wow fadeIn apple visible-xs visible-sm" href="https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&ct=tringmeweb&mt=8" ng-show="visibleOnIOS();" onclick="analytics('send', 'event', 'ios', 'click', 'callout');"><i class='fa fa-apple margin-right-10'></i>Get it on iPhone</a>
                <a target='_blank' class="btn btn-success btn-xlg  margin-top-30 size-20 wow fadeIn android visible-xs visible-sm" href="https://play.google.com/store/apps/details?id=com.tringme.android&referrer=utm_source%3Dtringmeweb" ng-show="visibleOnAndroid();" onclick="analytics('send', 'event', 'android', 'click', 'callout');"><i class='fa fa-android margin-right-10'></i>Get it on Android</a>


            </div>

        </div>
        <!-- /CALLOUT -->
        <!-- -->
        <section class='padding-30 bg-f9fafc'>
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <h2>Featured in</h2>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-2 "><img class="img-responsive" src="assets/images/media/thewashingtonpost-bw-logo.png" alt="the washington post" /></div>
                        <div class="col-sm-1 "><img class="img-responsive" src="assets/images/media/abc-bw-logo.png" alt="abc" /></div>
                        <div class="col-sm-2 "><img class="img-responsive" src="assets/images/media/cnnmoney-bw-logo.png" alt="cnn money" /></div>
                        <div class="col-sm-1 "><img class="img-responsive" src="assets/images/media/cnbc-bw-logo.png" alt="cnbc" /></div>
                        <div class="col-sm-2 "><img class="img-responsive" src="assets/images/media/thenewyorktimes-bw-logo.png" alt="the new york times" /></div>
                        <div class="col-sm-2 "><img class="img-responsive" src="assets/images/media/techcrunch-bw-logo.png" alt="tech crunch" /></div>
                        <div class="col-sm-2 "><img class="img-responsive" src="assets/images/media/gigaom-bw-logo.png" alt="gigaom" /></div>
                    </div>
                </div>
            </div>
        </section>


        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">
                <tringmesection cref="footer.html">
                    <div class="row" id="desktopFooter">

                        <div class="col-md-2">
                            <div class="togglef toggle-transparent-body toggle-margin-top-0">

                                <div class="togglef footer active">
                                    <label>About</label>
                                    <div class="toggle-content">
                                        <ul class="footer-links list-unstyled">
                                            <li><a href="about-us.html">TringMe</a></li>
                                            <li><a href="career.html">Career</a></li>
                                            <li><a href="news.html">In News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="togglef toggle-transparent-body toggle-margin-top-0">

                                <div class="togglef footer">
                                    <label>Explore TringMe</label>
                                    <div class="toggle-content">
                                        <ul class="footer-links list-unstyled">
                                            <li><a href="international-call-rates.html">International Call Rates</a></li>
                                            <li><a href="referral-program.html">Earn Bonus Credits</a></li>
                                            <li><a href="developer/overview.html">Developer</a></li>
                                            <li><a href="developer/wholesale-voip.html">Wholesale VoIP</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="togglef toggle-transparent-body toggle-margin-top-0">

                                <div class="togglef footer">
                                    <label>Help</label>
                                    <div class="toggle-content">
                                        <ul class="footer-links list-unstyled">
                                            <!-- <li><a href="how-to-use-tringme.html">How To Use</a></li> -->
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="contact-support.html">Support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <!-- Newsletter Form -->
                            <div class="col-sm-6 padding-20 padding-left-0 padding-top-0">
                                <a target='_blank' href='https://play.google.com/store/apps/details?id=com.tringme.android&referrer=utm_source%3Dtringmeweb'><img src='assets/images/google-play-store.png' alt="TringMe international calling app for android" /></a>
                            </div>
                            <div class="col-sm-6 padding-20 padding-left-0 padding-top-0">
                                <a target='_blank' href='https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&ct=tringmeweb&mt=8'><img src='assets/images/apple-store.png' alt="TringMe international calling app for iphone" /></a>
                            </div>
                            <h4 class="letter-spacing-1 col-sm-12 no-margin padding-0">Stay Connected</h4>



                            <!-- Social Icons -->
                            <div class="margin-top-20">
                                <a href="https://facebook.com/tringme" class="social-icon social-icon-round social-icon-border social-facebook" data-placement="bottom" title="Facebook">
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://twitter.com/tringme" class="social-icon social-icon-round social-icon-border social-twitter" data-placement="top" title="Twitter">
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="https://plus.google.com/+Tringme" class="social-icon social-icon-round social-icon-border social-gplus" data-placement="top" title="Google+">
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/tringme" class="social-icon social-icon-round social-icon-border social-linkedin" data-placement="top" title="LinkedIn">
                                    <i class="icon-linkedin"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-round social-icon-border social-youtube" data-placement="top" title="Youtube">
                                    <i class="icon-youtube"></i>
                                </a>





                            </div>
                            <!-- /Social Icons -->
                            <div class='col-sm-12'>

                            </div>
                        </div>
                        <div class='col-sm-12 margin-top-30 '>
                            <p class='margin-bottom-10 size-13'><img src="assets/images/footer-no-emergency-call.png" alt="no emergency call"><span>  No emergency calls with TringMe</span></p>
                            <p class='margin-bottom-10 size-13'>TringMe is not a replacement for your telephone and can't be used for emergency calling</p>
                        </div>

                    </div>
                </tringmesection>
            </div>
            <div class="copyright">
                <div class="container">
                    <tringmesection cref="last_footer.html">
                        <ul class="pull-right nomargin list-inline mobile-block margin-top-5">
                            <li><a href="terms-of-use.html#privacy">Privacy</a></li>
                            <li>&bull;</li>
                            <li><a href="terms-of-use.html#terms">Terms of services</a></li>
                            <li>&bull;</li>
                            <!--  <li><a href="#">Blog</a></li>
            <li>&bull;</li> -->
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li>&bull;</li>
                            <li><a href="contact.html">Contact us</a></li>

                        </ul>
                        <img class="margin-right-10" src="assets/images/footer-logo.png" alt="TringMe icon" />&copy; 2016 TringMe. All rights reserved.
                    </tringmesection>
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->

    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">
        var plugin_path = 'assets/plugins/';
    </script>
    <script type="text/javascript" src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>

    <!-- SWIPER SLIDER -->
    <script type="text/javascript" src="assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>
    <script type="text/javascript" src="assets/js/view/demo.swiper_slider.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/angular.min.js"></script>

    <script src="assets/js/tringme.js"></script>
    <script src="assets/js/angucomplete-alt.js"></script>
    <script src="assets/js/countries.js"></script>

    <!-- Google Code for Remarketing Tag -->

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1029092401;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div class="inline-block">
        <img class="noborder" height="1" width="1" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1029092401/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <!-- Google Code for Remarketing Tag Ends -->

</body>

</html>
