        <div class="col-md-9 tm-dialpad-area clearfix">
          <div class="tm-content-header clearfix">
            <div class="heading-text tm-alignleft">
              <h2 class="title-text-ad">Change Phone Number</h2>
            </div>
          </div>
          <div class="tm-content-body min-height-white-part-set  min-height-433 clearfix">
          <div class="change-phone-acsetting col-md-12 mar-tb-30px mar-b0 mobile-margin-b-0">
        <div class="col-sm-2 visible-lg"></div>
        <div class="col-sm-12 col-lg-8  mar-t50 mar-b15 mar-top-49px ">
            <p class="align-center color-blue">&nbsp;{{appdata.message}}</p>
            <p class="align-center color-grey-font">Download TringMe app on your mobile to change your phone number</p>
	    <p>&nbsp; </p>
	    <div class="align-center">
	         <a target="_blank" class="margin-top-40 visible-lg-inline-block visible-md-inline-block padding-0" href="https://play.google.com/store/apps/details?id=com.tringme.android&amp;referrer=utm_source%3Dtringmeweb" style="visibility: visible;"><img class="border-radius-6" src="https://tringme.com/assets/images/google-play-store.png" alt="TringMe calling app for android"></a>
		 <a target="_blank" class="margin-top-40 wow fadeIn visible-lg-inline-block visible-md-inline-block padding-0" href="https://itunes.apple.com/app/apple-store/id1050425742?pt=117979707&amp;ct=tringmeweb&amp;mt=8" style="visibility: visible;"><img class="border-radius-6" src="https://tringme.com/assets/images/apple-store.png" alt="TringMe calling app for iphone"></a>
		 </div>
	    <p>&nbsp; </p>
            <p class="align-center color-grey-font">Once you change your number, you can come back here and start using TringMe or directly from your mobiles.</p>
        <div class="col-sm-2 visible-lg"></div>
      </div>

	    <!--
<p class="color-blue tm-verifyfont">Why We do this</p>
<div class="verify-hr"><hr></div>
<div class="row">
              <div class="verification-ul">
                <ul>
                  <li>This is for safety of your account. Also We need to be sure that the phone number you entered belongs to you to prevent misuse of our services</li>
                  
                  <li>Without Phone Verification, your phone number can't updated.</li>
                </ul>
              </div>
            </div>
	    -->
            
            </div>
          </div>
        </div>
     <script>
         $('.maskInputNumber').mask('+000000000000000000');
  </script> 
<script>
    (function () {
        $('#verf').keyup(function () {
            var empty = false;
            $('#verf').each(function () {
                if ($(this).val().length < 11) {
                    empty = true;
                }
            });

            if (empty) {
                $('#sendverf').attr('disabled', 'disabled');
            } else {
                $('#sendverf').removeAttr('disabled');
            }
        });
    })()
</script>
